@use "../variables"; 

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 3rem;
  background-color: lighten(variables.$color-accent, 45%);
  .logo {
    font-weight: bold;
    img {
      width: 100px;
      height: auto;
    }
  }
  .nav a {
    margin-left: 1.5rem;
    color: variables.$color-accent;
    text-decoration: none;
    &:hover { text-decoration: underline; }
  }
}

@media (max-width: 523px) {
.header {
  padding: 0 1rem;
  .nav a {
    font-size: 14px;
    }
  }
}

@media (width <= 370px) {
  .header .nav a {
      font-size: 12px;
  }
}

