@import "../variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  background-color: lighten($color-accent, 45%);

  .header__logo {
    font-weight: bold;

    img {
      width: 100px;
      height: auto;
    }
  }

  .header__nav {
    .header__nav-link {
      margin-left: 1.5rem;
      color: $color-accent;
      text-decoration: none;
      &:hover { text-decoration: underline; }
    }
  }
}

@media (width <= 523px) {
.header {
  padding: 0 1rem;

  .header__nav {
    .header__nav-link {
      font-size: 14px;
    }
  }
}
}

@media (width <= 370px) {
  .header .header__nav {
      .header__nav-link {
          font-size: 12px;
      }
  }
}

