<section id="carrusel" class="w-full h-[90vh] overflow-hidden relative">
    <div id="carrusel__contenido" class="relative w-full h-full carrusel__contenido">
        <div id="carrusel__caja" class="flex w-[500%] h-full transition-transform duration-1000 ease-in-out carrusel__caja">
            <div class="relative h-full flex-[1_0_100%] carrusel__elemento">
                <img class="w-full h-full object-cover max-h-[90vh] imagenes" src="/src/assets/images/paella.jpg" alt="Paella">
            </div>
            <div class="relative h-full flex-[1_0_100%] carrusel__elemento">
                <img class="w-full h-full object-cover max-h-[90vh] imagenes" src="/src/assets/images/tortilla-patatas.jpg" alt="Trotilla de patatas">
            </div>
            <div class="relative h-full flex-[1_0_100%] carrusel__elemento">
                <img class="w-full h-full object-cover max-h-[90vh] imagenes" src="/src/assets/images/spaghetti.jpg" alt="Spaghettis">
            </div>
            <div class="relative h-full flex-[1_0_100%] carrusel__elemento">
                <img class="w-full h-full object-cover max-h-[90vh] imagenes" src="/src/assets/images/preparado-sopa.jpg" alt="Preparado para sopa">
            </div>
            <div class="relative h-full flex-[1_0_100%] carrusel__elemento">
                <img class="w-full h-full object-cover max-h-[90vh] imagenes" src="/src/assets/images/postres.jpg" alt="Postres dulces">
            </div>
        </div>
    </div>

    <div class="indicadores absolute bottom-[70px] left-1/2 -translate-x-1/2 z-10 flex gap-3"></div>

    <div class="hero__text absolute top-1/2 left-5 -translate-y-1/2 text-white text-shadow-lg">
        <h1 class="text-3xl sm:text-4xl lg:text-5xl font-bold hero__title">Historia y tradición en las Jornadas de Cocina Local</h1>
        <p class="mt-2 text-lg sm:text-xl lg:text-2xl hero__subtitle">por Equipo de Organización.</p>
    </div>
</section>