<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrusel Suiza</title>
    <link rel="stylesheet" type="text/css" href="./assets/styles/main.scss">
</head>

<body>
    <section id="carrusel">
        <div id="carrusel__contenido">
            <div id="carrusel__caja">
                <div class="carrusel__elemento">
                    <img class="imagenes" src="./assets/images/carrusel/landscape-mountains-alps-4278609_1280.jpg"
                        alt="Landscape Suiza">
                </div>
                <div class="carrusel__elemento">
                    <img class="imagenes" src="./assets/images/carrusel/mountains-5747088_1280.jpg"
                        alt="Montañas de Suiza">
                </div>
                <div class="carrusel__elemento">
                    <img class="imagenes" src="./assets/images/carrusel/mountains-8391433_1280.jpg"
                        alt="Montañas Suizas">
                </div>
                <div class="carrusel__elemento">
                    <img class="imagenes" src="./assets/images/carrusel/switzerland-5414899_1280.jpg"
                        alt="Landscape de Suiza">
                </div>
                <div class="carrusel__elemento">
                    <img class="imagenes" src="./assets/images/carrusel/switzerland-9661468_1280.jpg"
                        alt="Landscape Suiza">
                </div>
            </div>
        </div>

        <div class="indicadores"></div>

        <div class="hero__text">
            <h1 class="hero__title">Suiza: Un Paraíso Natural</h1>
            <p class="hero__subtitle">Explora paisajes que te dejarán sin aliento.</p>
        </div>
    </section>
    <script type="module" src="./assets/scripts/carrusel.js"></script>
</body>

</html>