<section id="carrusel">
    <div id="carrusel__contenido">
        <div id="carrusel__caja">
            <div class="carrusel__elemento">
                <img class="imagenes" src="./assets/images/paella.jpg" alt="Paella">
            </div>
            <div class="carrusel__elemento">
                <img class="imagenes" src="./assets/images/tortilla-patatas.jpg" alt="Trotilla de patatas">
            </div>
            <div class="carrusel__elemento">
                <img class="imagenes" src="./assets/images/spaghetti.jpg" alt="Spaghettis">
            </div>
            <div class="carrusel__elemento">
                <img class="imagenes" src="./assets/images/preparado-sopa.jpg" alt="Preparado para sopa">
            </div>
            <div class="carrusel__elemento">
                <img class="imagenes" src="./assets/images/postres.jpg" alt="Postres dulces">
            </div>
        </div>
    </div>

    <div class="indicadores"></div>

    <div class="hero__text">
        <h1 class="hero__title">Historia y tradición en las Jornadas de Cocina Local</h1>
        <p class="hero__subtitle">por Equipo de Organización.</p>
    </div>
</section>