<footer class="border-t border-uoc-accent/20 bg-white text-uoc-accent pt-8 pb-4">
  <div class="pb-8 mb-4 text-center text-sm sm:text-base px-4">
    <p class="m-0 text-uoc-accent">¿Tienes preguntas? <br> Contáctanos en info@cocinatradicional.com</p>
  </div>

  <hr class="h-px max-w-[80%] mx-auto my-4 bg-uoc-accent/50">

  <div class="flex flex-col md:flex-row items-center md:justify-between gap-4 md:gap-8 max-w-5xl mx-auto px-4">
    <div class="flex items-center gap-2 font-bold flex-shrink-0">
      <img src="/src/assets/images/logo.png" alt="logo cocina tradicional" class="w-24 h-auto">
    </div>
    <nav class="flex flex-wrap justify-center gap-x-6 gap-y-2 flex-grow md:justify-center mt-4 md:mt-0">
      <a href="/src/index.html"
        class="font-medium text-uoc-accent no-underline hover:underline whitespace-nowrap">Inicio</a>
      <a href="/src/speakers.html"
        class="font-medium text-uoc-accent no-underline hover:underline whitespace-nowrap">Charlas</a>
    </nav>
    <div class="flex items-center mt-4 md:mt-0">
      <a href="#" class="ml-4 text-xl text-uoc-accent hover:opacity-80"><i class="bi bi-google"></i></a>
      <a href="#" class="ml-4 text-xl text-uoc-accent hover:opacity-80"><i class="bi bi-facebook"></i></a>
      <a href="#" class="ml-4 text-xl text-uoc-accent hover:opacity-80"><i class="bi bi-twitter"></i></a>
    </div>
  </div>
</footer>