<footer class="footer">
  <div class="footer__top">
    <p>¿Tienes preguntas? <br> Contáctanos en info@cocinatradicional.com</p>
  </div>

  <hr class="footer__divider">

  <div class="footer__content">
    <div class="footer__logo">
      <img src="/src/assets/images/logo.png" alt="logo cocina tradicional">
    </div>
    <nav class="footer__nav">
      <a href="/src/index.html" class="footer__nav-link">Inicio</a>
      <a href="/src/speakers.html" class="footer__nav-link">Charlas</a>
      <a href="/src/articles.html" class="footer__nav-link">Talleres</a>
      <a href="/src/minijuego.html" class="footer__nav-link">Mini-juego</a>
    </nav>
    <div class="footer__social">
      <a href="#" class="footer__social-link"><i class="bi bi-google"></i></a>
      <a href="#" class="footer__social-link"><i class="bi bi-facebook"></i></a>
      <a href="#" class="footer__social-link"><i class="bi bi-twitter"></i></a>
    </div>
  </div>
</footer>