<header class="flex items-center justify-between px-4 sm:px-6 bg-[#F2D5C2] shadow-md">
    <div class="flex-shrink-0">
        <a href="/src/index.html" rel="noopener noreferrer">
            <img src="/src/assets/images/logo.png" alt="logo cocina tradicional" class="w-24 h-auto md:w-32">
        </a>
    </div>
    <nav class="flex space-x-6">
        <a href="/src/speakers.html" class="text-uoc-accent no-underline hover:underline text-lg">Charlas</a>
        <a href="/src/extra.html" class="text-uoc-accent no-underline hover:underline text-lg">Extra</a>
    </nav>

</header>