/**
 * Use this file to import partials.
 * Do not include SCSS code in this file.
 */

/**
 * 1. Declare the layer order. Layers declared later have higher priority.
 */
@layer base, layouts, utilities;

/**
 * 2. Assign imports to their respective layers.
 */

@layer base {
  /**
  * Import dependencies (Bootstrap, etc.) into the 'base' layer.
  */
  @import "dependencies";
}

@layer layouts {
  /**
  * Import layouts. These styles will override 'base' styles
  * but will be overridden by 'utilities'.
  * It's a best practice to use a different partial for each page
  */
  @import "layouts/home";
  @import "layouts/header";
  @import "layouts/footer";
  @import "layouts/speakers";
  @import "layouts/articles";
  @import "layouts/carrusel";
  @import "layouts/minijuego";
  @import "layouts/reserva";
  @import "layouts/modal";
}

/**
 * 3. (Example) Define a utilities layer.
 * Styles in this layer will always win over styles in 'base' and 'layouts'
 * regardless of selector specificity.
 */
@layer utilities {
  .text-highlight {
    padding: 2px 4px;
    border-radius: 3px;
    background-color: #333;
    color: #f5efe7;
  }
}

/**
 * Do NOT include anything else in this file!
 */